
<!-- add new billing address  -->
<div class="new-address rounded text-white flex items-center px-5 py-7 justify-between mt-4">
    <div>
      <h3 class=" font-bold text-lg uppercase">{{addNewAddress?.add_new_address?.heading}}</h3>
    <p class="text-sm uppercase">{{addNewAddress?.add_new_address?.description}}</p>  
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus w-9 h-9 cursor-pointer text-gray-400" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
      </svg>
</div>
