/* nav{
display: flex;
justify-content: space-between;
padding: 25px 10px 7px 10px;
align-items: center;
}

header{
    border-bottom: 2px solid;
    border-color: rgb(138, 180, 74);
    margin-bottom: 20px;
} */

